.CartButton {
	padding: 10px;
	border-radius: 20px;
	border: none;
	margin: 5px 20px;
	background-color: white;
	cursor: pointer;

	&:hover {
		background-color: #c0e2a0;
	}
	&:active {
		background-color: rgba(0, 0, 0, 0.7);
	}
}

.ButtonIcon {
	width: 50px;
}
