.Main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.Product {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 45%;

	@media screen and (max-width: 1300px){
		width: 90%;
		
	}
}

.Group {
	width: 80%;
	border-bottom: 2px solid black;
	padding: 10px;
}

.Bold {
	font-weight: 800;
	font-size: larger;
	color: rgb(82, 82, 82);
}

.Image {
	@media screen and (max-width: 800px){
		width: 80%;
		
	}
}