.ColourButton {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	padding: 5px;
	width: 15%;
	min-width: 80px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px black;
	border: 2px solid rgb(158, 158, 158);

	&:hover {
		border: 2px solid rgb(54, 54, 54);
	}
	&:active {
		box-shadow: none;
	}
}

.ColourPicker {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.Image {
	width: 80%;
	background-color: white;
	margin-bottom: 5px;
}
